*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

#navbar{
    height:100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 30px; /*because theres a space right left to menu and login and signup button*/
}

#navpart1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#navbar h3{
font-size: 16px;
border: 1.5px solid black;
padding: 5px 8px;
border-radius: 50px;
font-weight: 500;
}


#navbar i{
    font-size: 16px;
    border: 1.5px solid black;
    padding: 5px 8px;
    border-radius: 50px;
    font-weight: 500;
    }

#navbar h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}    

#navbar button{
padding:7px 12px;
border-radius: 50px;
border: 1.5px solid black;
font-size: 16px;
font-weight: 600;
background-color: whitesmoke;
}

#navbar button#btn2{
    border: none;
    color: whitesmoke;
  background-color: orangered;
}

#main>h1{
    font-size: 170px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;  
    text-align: center;
}

img{
    height:250px;
    width: 250px;
    border-radius: 50px;
    object-fit: cover;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#img1{
transform: translate(-50%,-50%) rotate(-30deg); 
}
#img2{
 transform: translate(-50%,-50%) rotate(-20deg); 
 }
#img3{
 transform: translate(-50%,-50%) rotate(-10deg); 
 }
 
 